#register h1, #login h1{
    margin: 0;
    margin-top: 1em;
    text-align: center;
}

body > footer {
    height: 3em;
}

#register form, #login form {
    margin: 1em auto;
    background-color: white;
    width: 20em;
    height: 20em;
    padding: 1em 1em 0 1em;
}

#register form *, #login form * {
    display: block;
    text-align: center;
}

#register form label, #login form label {
    font-size: 1.2em;
    text-align: left;
    margin: 1em;
    
}

#register label input, #login label input {
    border: none;
    background-color: white;
    border-bottom: 1px solid black;
    margin-top: 1.5em;
}

#register form input[type=submit], #login form input[type=submit]{
    float: right;
}

@media (max-width: 60em){
    #register, #login{
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

@media (max-width: 30em){
    #register, #login{
        position: relative;
        top: -1.2em;
        grid-column-start: 1;
        grid-column-end: 3;
        background-color: white;
    }
}