html {
    background-color: #DDDDFF;
}

body {
    width: 800px;
    margin: 0 auto;
    background-color: #659933;
}

body #header {
    background-color: #336698;
    color: #FFFFFF;
    padding: 20px;
    position: relative;
}

body > div#header > h2 {
    position: absolute;
    top: 0;  left: 0;
    margin: 0; padding: 0;

    text-align: center;

    background-color: #336699;
    padding: 10px 0;
    width: 100%;

    -webkit-transform-origin: 0 0;
    -webkit-transform: rotate(90deg);
}

body > div#menu {
    background-color: #659933;
    float: right;
    width: 200px;
}

body > div#menu > ul {
    list-style-type: none;
    padding: 0;
}

body > div#menu > ul a {
    color: white;
    text-decoration: none;
}

body > div#menu ul li {
    text-align: center;
    padding: 20px;
}

body > div#content {
    background-color: #FFFFFF;
    margin-right: 200px;
    padding: 0 10px;
}

body > div#content a{
    text-decoration: none;
}

body > div#content .news-item {
    border-bottom: 1px solid black;
}

body > div#content .introduction {
    font-style: italic;
}

body > div#content img {
    float: left;
    margin-right: 10px; 
}

body > div#content h3 {
    font-size: 160%;
    margin: 0;
    margin-bottom: 5px;
}

body > div#content ul {
    list-style-type: none;
    padding-left: 0;
    padding-top: 1em;
}

body > div#content ul a {
    color: black;
}

body > div#content ul li {
    display: inline;
    padding: 5px;
    margin-right: 10px;
    border-bottom: 2px solid #996632;
}


body > #footer {
    background-color: white;
    margin: 0;
    padding: 0 10px;
}

body > #footer p {
    margin: 0;
}