@media (min-width: 30em){
    #related {
        display: none;
    }

    body {
        width: 100%;
    }

    nav#menu {
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    section#news {
        grid-row-start: 3;
        grid-column-start: 1;
        grid-column-end: 3;
        margin: 0em;
    }

    body > footer {
        grid-column-end: 3;
    }
}

@media (max-width: 30em){
    
}